body {
    font-size: 18px;
    margin-left: 200px;
}


.header {
    clear: both;
}

.header img, .header h1 {
    display: block;
    float: left
}

.header h1.clock {
    margin-left: 500px;
    margin-top: 70px;
}

.header h1.title {
    font-size: 38px;
    clear: both;
}

.header img:hover {
    cursor: pointer;
}

/* OVERVIEW */
table.overview {
    width: 100%;
    font-size: 26px;
    margin-top:50px;
}

table.overview th {
    text-align: left;
}

table.overview th span {
    display: none;
}

table.overview th:hover {
    cursor: pointer;
}

/* MECHANIC */
button.create-car {
    font-size: 32px;
    background: #fbfbfb;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px;
    cursor: pointer;
}

table.overview.mechanic td {
    cursor: pointer;
}